{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CertQuest{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">⚔️ CertQuest</div>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard/">Dashboard</a>

        {% if user.is_authenticated %}
            <a href="/accounts/logout/">Logout</a>
        {% else %}
            <a href="/accounts/login/">Login</a>
        {% endif %}
    </nav>
</header>

<main class="page-container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>