{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CertQuest{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">⚔️ CertQuest</div>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard/">Dashboard</a>
        <a href="/flashcards/">Flashcards</a>
        <a href="/games/">Games</a>
        <a href="/choose-path/">Paths</a>

        {% if user.is_authenticated %}
            <form method="post" action="/accounts/logout/" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-link-button">
                    Logout
                </button>
            </form>      
            {% else %}
            <a href="/accounts/login/">Login</a>
        {% endif %}
    </nav>
</header>

<main class="page-container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>